h1{
text-align: center;
font-size: auto;
background-color: rgb(255, 255, 255) (0, 0, 0);
text-shadow: 0cap;
margin-top: auto;
margin-inline-end: auto;
margin-inline-start: auto;
-webkit-text-fill-color: rgb(255, 247, 247);


}

body{

    text-align: center;
    font-size: 50px;
    text-decoration-thickness: auto;
     background-color: rgb(0, 0, 0);


}

